#include <configs/mt6877.config>

CONFIG_DEFAULT_DEVICE_TREE="mediatek/mt6877-theloop"
CONFIG_IDENT_STRING="mt6877-theloop-v32-usb"

# v32 bisection: clk + MMC + USB + fastboot. Confirmed clk (v30) and
# MMC (v31) both work. This test isolates USB/fastboot as cause of v29 hang.
CONFIG_USB=y
CONFIG_USB_MTU3=y
CONFIG_USB_GADGET=y
CONFIG_DM_USB_GADGET=y
CONFIG_PHY=y
CONFIG_PHY_MTK_TPHY=y
CONFIG_USB_GADGET_VENDOR_NUM=0x0e8d
CONFIG_USB_GADGET_PRODUCT_NUM=0x201c
CONFIG_USB_FUNCTION_FASTBOOT=y
CONFIG_FASTBOOT_BUF_ADDR=0x4d000000
CONFIG_FASTBOOT_BUF_SIZE=0x1000000
CONFIG_FASTBOOT_FLASH=y
CONFIG_FASTBOOT_FLASH_MMC_DEV=0
CONFIG_CMD_FASTBOOT=y

CONFIG_ENV_IS_NOWHERE=y

CONFIG_USE_BOOTCOMMAND=y
CONFIG_BOOTCOMMAND="fastboot 0"
CONFIG_CMD_BOOTI=y
CONFIG_HUSH_PARSER=y
CONFIG_FIT=y
CONFIG_BOOTDELAY=1

# CONFIG_REQUIRE_SERIAL_CONSOLE is not set
